IndentWidth: 2
AlwaysBreakTemplateDeclarations: Yes
PointerAlignment: Left
ReferenceAlignment: Left

AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: All

IndentCaseLabels: true

AlignConsecutiveAssignments: true
ColumnLimit: 110
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true